<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/styles/main_style.css">
    <title>Главная страница LaHrust!</title>
</head>
<body>
    <div class="header">
        <img src="/static/img/smal_pic.jpg" class="logo">
        <div class="container">
            <ul class="navlist">
                <li><a href="#">Главная</a></li>
                <li><a href="#menu">Меню</a></li>
            </ul>
        </div>
        <div class="info">
            <!-- <ul class="info_block">
                <li><h4>ш. Северное, д.2</h4></li>
                <li><h4>Пн-Вс, 10:00 - 22:00</h4></li>
                <li><h4>+7 (999) 357-39-45</h4></li>
            </ul> -->
            <div class="info_block">
                <div class="h_place_time">
                    <h4>ш. Северное, д.2</h4>
                    <h4>Пн-Вс, 10:00 - 22:00</h4>
                </div>
                <div class="h_tel">
                    <h4 class="h_tel">+7 (999) 357-39-45</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="content">

    </div>
    
    <div class="footer">

    </div>
        
        <!-- <a href="#feedback">Отзывы</a> -->
        <!-- <a href="#about">О нас</a> -->
        <!-- <h4>8 (999) 357-39-45<br>ш. Северное, д.2</h4>
        </div> -->
    <!-- {% block content %}
    <div class="main_text_field">
        <b><h1>Добро пожаловать на официальный сайт LaHrust!</h1><br></b>
        <i><h3>"КАКОЙ-ТО ТЕКСТ О КАФЕ (ОБЩЕЕ ПРЕДСТАВЛЕНИЕ)"</h3></i>
        </div>
    {% endblock content %}
    <div class="footer">
        <img src="/static/img/smal_pic.jpg">
        <h5>8 (999) 357-39-45<br>ш. Северное, д.2</h5>
        <h5>Пн-Вс: 10:00-22:00</h5>
    </div> -->
</body>
</html>


